<!DOCTYPE html>
<html>
  <head>
    <title>FairWeather</title>
    <%= csrf_meta_tags %>
    	
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <% if @weather_words == "Cloudy" || @weather_words == "Overcast" %>
      <body id="cloudy">
    <% elsif @weather_words == "Clear" || @weather_words == "Sunny" %>
      <body id="sunny">
    <% else %>
  <body>
  
    <% end %>


    <%= yield %>
  </body>
</html>
